<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150403868441-67hgh8cu0iu1u8eii74iroern8arjcda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150403868441-67hgh8cu0iu1u8eii74iroern8arjcda</string>
	<key>API_KEY</key>
	<string>AIzaSyBx_C-fyi5cJjaqa-POpFV11q_e7VLxAOY</string>
	<key>GCM_SENDER_ID</key>
	<string>150403868441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.example.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-1a362</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-1a362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150403868441:ios:750e149b807f74e7a50788</string>
	<key>DATABASE_URL</key>
	<string>https://chat-1a362.firebaseio.com</string>
</dict>
</plist>